*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
}

.container{
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    height: 45vh;
    width: 40vh;
    box-shadow: -10px 20px 20px 0px rgb(5, 5, 5);
    transition: 0.3s;
}

.container:hover{
    background-color: rgba(235, 227, 227, 0.689);
    transform: scale(1.03);
}

form{
    margin: 2rem 0 1rem 0;
}

form select , button, input {
    width: 100%;
    border-radius: 0.70rem;
    outline: none;
    border: none;
}

form input{
    border: 1px solid rgb(201, 159, 68);
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.container h2{
    display: flex;
    justify-content: center;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}


.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.select-container select {
  font-size: 1rem;
  width: auto;
background-color: rgba(235, 227, 227, 0.689);
}

.msg {
  margin: 2rem 0 2rem 0;
}

form button {
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}

